#root {
  inline-size: 100%;
}

body {
  margin: 0;
}

.mainBody {
  margin-block-start: 0px;

  font-size: 30px;
  z-index: 25;
}

.welcome {
  margin-block-start: 0px;
  z-index: 50;

  block-size: 900px;
  z-index: 5;
  inline-size: 100%;
}

.welcomeCover {
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 100%;

  position: absolute;
  z-index: 1;
}

.welcomeContent {
  margin-top: 100px;
  position: absolute;
  background-color: #a27969;
  inline-size: 100%;
  block-size: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 5;
}

.welcRectangle {
  transition: 2s;
  height: 100%;
  width: 60%;

  clip-path: polygon(100% 0%, 70% 100%, 0 100%, 0 0);
  position: relative;
}

.welcRectangle h1 {
  transition: 2s;
  position: absolute;
  font-size: 80px;
  left: 5%;
  font-weight: 400;
  width: 100%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  z-index: 5;
}

.welcRectangle p {
  transition: 2s;
  position: absolute;
  font-size: 30px;
  width: 80%;
  margin-left: 20px;
  color: rgb(0, 0, 0);
  z-index: 5;
  opacity: 0;
}

.welcRectangle img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image does not have extra space at the bottom */
  position: absolute; /* Position the image within the div */
  top: 20%; /* Move the image down by 50% of its parent container */
  left: 50%; /* Move the image right by 50% of its parent container */
  transform: translate(-50%, -20%);
  z-index: 2;
}

.welcRectangle::before {
  transition: 2s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5; /* Ensurrgba(0, 0, 0, 0.5)is above the image */
}

.welcRectangle:hover::before {
  transition: 1s;
  background-color: rgb(
    245,
    211,
    176,
    0.9
  ); /* Change the background color on hover */
}

.welcRectangle:hover h1 {
  transition: 0.2s;
  opacity: 0; /* Hide the h1 on hover */
}

.welcRectangle:hover p {
  transition: 0.2s;
  opacity: 100; /* Hide the h1 on hover */
}

.welcRectangle:hover {
  transition: 1s;
  clip-path: polygon(80% 0%, 100% 100%, 0 100%, 0 0);
}

.welcBenefits {
  position: relative;
  height: 100%;
  width: 50%;
}

.topBen {
  margin-top: 10px;
  height: 80px;
  background-color: #000000;
  width: 50%;
  margin-left: 25%;
  border-radius: 20px;
}

.topBen h1 {
  top: -20px;
  z-index: 5;
  font-size: 50px;
  position: absolute;
  left: 40%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-weight: 200;
}

.welcBenefits ul {
  transition: 2s;
  transform-origin: top left;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  transform: skew(-25deg);
  transition: transform 2s, filter 0.5s;
  filter: blur(0);
  list-style-type: none;
  line-height: 60px;
}

.welcBenefits li {
  transition: 2s;
  transform-origin: top left;
  margin-bottom: 15px;

  transition: transform 2s;
  transform: skew(20deg);
}

.star {
  filter: brightness(1);
  transition: filter 2s; /* Define transition for the 'filter' property */
  transition: 2s;
  background-image: url("src/assets/images/goldStar.png");
  height: 50px;
  margin-top: 0px;
  padding-left: 80px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle; /* Ensure proper alignment with the text */
}

.star:hover {
  transition: 1s;
  filter: brightness(1.2); /* Change brightness on hover */
}

/* Apply styles to .welcBenefits when .welcRectangle is hovered */
.welcRectangle:hover ~ .welcBenefits ul {
  transition: transform 1s;

  transform: skewY(20deg); /* Match the top left corner angle on hover */
}

.welcRectangle:hover ~ .welcBenefits li {
  transform: skewY(-20deg); /* Match the top right corner angle on hover */
}

.mainCard {
  position: relative;
  height: 500px;

  display: flex;
  width: 800px;
  margin-top: 100px;
  margin: auto;
}

.mcardLeft {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #8c00ff;
  z-index: 2;
  transition: opacity 0.5s;
}

.mcardLeft h1 {
  position: absolute;
  left: 15px;
  top: 5px;
  margin: 0;
}

.mcardLHover {
  transition: 1s;
  width: 35%;
  height: 35%;
}

.mcardLContent p {
  margin-left: 25%;
  width: 60%;
}

.mcardRight {
  transition: background-color 1s, clip-path 1s;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #dbce19;
  bottom: 0px;
  clip-path: polygon(83% 85%, 91% 78%, 100% 70%, 100% 100%, 68% 100%, 75% 93%);
  z-index: 5;
}

.mcardRight h1 {
  position: absolute;
  right: 15px;
  bottom: 5px;
  margin: 0;
  cursor: pointer;
}

.mcardRight p {
  margin-left: 25%;
  width: 60%;
}

.mcardRighthover {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;

  clip-path: polygon(35% 0, 60% 0, 100% 0, 100% 100%, 0 100%, 0 28%);
  z-index: 7;
}

.mcardRight h1:hover {
  transition: 1s;
  background-color: #00d9ff;
  box-shadow: 520px 220px 100px 20px rgb(255, 0, 0);
}

.mcardLContent {
  opacity: 1;
}

.mcardContentHide {
  opacity: 0;
}

.mcardRContent {
  opacity: 1;
}

.footer {
  background-color: #000000;
  height: 300px;
  margin-top: 200px;
}
